/* estilos de desktop (pc de escritorio) en caso de no usar mobile first (primero mobile) */
.titulo {
  background: red;
}

.container {
  display: flex;
  justify-content: space-between;
}

/* media queries (max/min width) */
/* de 1200px a 1025px */
@media (max-width: 1200px) and (min-width: 1025px) {
  .titulo {
    background: green;
    color: red;
  }
}

/* de 1200px a 0px */
@media (max-width: 1200px) {
  .titulo {
    color: red;
  }

  .container {
    /* evitamos repetir el display flex, ya que este lo tiene en la medida por defecto */
    flex-direction: column;
  }
}

/* de 1024px a 0px */
@media (max-width: 1024px) {
  .titulo {
    background: yellow;
  }
}
