* {
  margin: 0;
  padding: 0;
}

/* ejemplo con flex */
header {
  background: #ff7c7c;
  padding: 20px;
  /* activamos flex */
  display: flex;
  /* separamos los elementos */
  justify-content: space-between;
  /* alinear verticalmente los elementos */
  align-items: center;
}

.header_navigation {
  display: flex;
  gap: 20px;
}

/* seleccionando hijo directo de header_navigation */
.header_navigation > a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.header_buttons {
  display: flex;
  gap: 10px;
}

.header_buttons > button {
  padding: 10px 20px;
  border-radius: 10px;
  border: 0;
}

.header_buttons_login {
  background: #27ff27;
}

.header_buttons_register {
  background: #4949ff;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

main > h3 {
  font-size: 40px;
  margin-bottom: 30px;
}

.products_section {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 30px;
}
